@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: #16a085;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins',sans-serif;
    margin: 0;
    min-height: 100vh;
}

.quiz-container{
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0,0, 0, 0.2);
    width: 600px;
    overflow: hidden;
    max-width: 100%;
}

h2{
  font-size: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    margin: 0;
}

.quiz-header{
    padding: 2.5rem;
}

 ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 1.3rem;
    margin: 0.5rem;
}

ul li label{
    cursor: pointer;
}

button{
    background-color: #1abc9c;
    border: none;
    color: white;
    display: block;
    font-family: inherit;
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem;
}

button:hover{
    background-color: #16a085;
}

button:focus{
    background-color: #16a085;
    outline: none;
}